@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition {
    @apply transition-all duration-300 ease-out;
  }
}
/*Form styles*/
.error-message::before {
  position: absolute;
  content: '';
  left: -20px;
  top: 0px;
  width: 16px;
  height: 16px;
  background-image: url('/icons/fail-icon.svg');
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: -3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #224722;
  outline: none;
  cursor: pointer;
}

.custom-checkbox-error {
  position: absolute;
  top: 0;
  left: -3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f00;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']:hover + label .custom-checkbox {
  outline: 3px solid #527252;
  @apply transition;
}
input[type='checkbox']:checked + label .custom-checkbox {
  position: absolute;
  background-image: url(/icons/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #224722;
}
input[type='checkbox']:focus-visible + label .custom-checkbox {
  outline: 3px solid #527252;
  outline-offset: 3px;
}

/*Buttons styles*/

.order-link::after {
  content: '';
  width: 45px;
  height: 45px;
  @apply bg-buttonIcon;
  border-radius: 36px;
}

.order-link:active::after {
  @apply bg-button;
}

.order-link-disabled::after {
  content: '';
  width: 45px;
  height: 45px;
  @apply bg-secondDisabledBtn;
  border-radius: 36px;
}

@layer components {
  .custom-button {
    @apply font-geologica text-subtitleMd w-full flex text-bgMain items-center justify-between sm:w-[440px] md:w-[231px] py-[5px] pr-[5px] pl-[30px] relative;
  }
}

/*Buttons styles end*/

.backdrop-filter {
  backdrop-filter: blur(12.5px);
}

/*advantages*/

.advantage-list li:not(:last-child)::after {
  content: '';
  width: 100%;
  max-width: 480px;
  height: 0.5px;
  @apply bg-border absolute bottom-[-35px];
}

@media screen and (min-width: 768px) {
  .advantage-list li:not(:last-child)::after {
    content: '';
    width: 0.5px;
    height: 235px;
    @apply right-[-41px];
  }
}

@media screen and (min-width: 1400px) {
  .advantage-list li:not(:last-child)::after {
    content: '';
    width: 0.5px;
    height: 235px;
    @apply right-[-62px];
  }
}

/*advantages end*/

/*about section */

.about {
  position: absolute;
  top: -377px;
  left: calc(100% - 460px);
  height: 347px;
  width: 480px;
  background-image: url('../../public/images/about/aboutBG-mobile.jpg');
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 230px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url('../../public/images/about/aboutBG-mobile@2.jpg');
  }
}

@media screen and (min-width: 768px) {
  .about {
    position: absolute;
    top: -459px;
    left: -106px;
    height: 429px;
    width: 768px;
    background-image: url('../../public/images/about/aboutBG-tablet.jpg');
    background-position: bottom;
    background-size: cover;
    border-bottom-right-radius: 300px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('../../public/images/about/aboutBG-tablet@2.jpg');
    }
  }
}

@media (min-width: 1400px) {
  .about {
    position: absolute;
    top: -133px;
    left: -1155px;
    height: 700px;
    width: 1043px;
    background-image: url('../../public/images/about/aboutBG-desktop.jpg');
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('../../public/images/about/aboutBG-desktop@2.jpg');
    }
  }
}

/*about section end*/

/*-----Hero styles start-------*/
.hero {
  background-image: url('../../public/images/hero/heroBG-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top 74px right 0px;
  background-size:
    480px 184px,
    cover;
  @apply bg-bgSecond;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-mobile@2.jpg');
  }
}
@media (min-width: 480px) {
  .hero {
    background-position: center top 74px;
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-tablet.jpg');
    background-size:
      1046px 586px,
      cover;
    background-position: top 0px right 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../../public/images/hero/heroBG-tablet@2.jpg');
    }
  }
}

@media (min-width: 1046px) {
  .hero {
    background-position: center top 0px;
  }
}

@media (min-width: 1400px) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-desktop.jpg');
    background-size:
      1440px 800px,
      cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../../public/images/hero/heroBG-desktop@2.jpg');
    }
  }
}

/*-----Hero styles end-------*/

/*Pots Slider styles*/
.swiper-scrollbar-drag {
  border-radius: 15px !important;
  background-color: #224722 !important;
  height: 6px !important;
}

.swiper-scrollbar {
  border-radius: 15px !important;
  background: rgba(34, 71, 34, 0.32) !important;
  height: 6px !important;
  bottom: 0 !important;
}

.slider .swiper-slide {
  width: auto;
  margin-right: 40px;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .slider .swiper-slide {
    margin-right: 70px;
  }
}

@media (min-width: 1400px) {
  .slider .swiper-slide {
    margin-right: 76px;
  }
}
/*Pots Slider styles end*/

/*Gallery*/

.gallery-list li:nth-child(1) {
  border-radius: 0px 0px 100px 0px;
  overflow: hidden;
}

.gallery-list li:nth-child(2),
.gallery-list li:nth-child(3) {
  border-radius: 38px 38px 38px 0px;
  overflow: hidden;
}

.gallery-list li:nth-child(4) {
  border-radius: 0px 0px 0px 100px;
  overflow: hidden;
}

.gallery-list li:nth-child(5) {
  border-radius: 0px 0px 100px 0px;
  overflow: hidden;
}

.gallery-list li:nth-child(6) {
  border-radius: 0px 100px;
  overflow: hidden;
}
