@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition {
    @apply transition-all duration-300 ease-out;
  }
}
/*Form styles*/
.error-message::before {
  position: absolute;
  content: '';
  left: -20px;
  top: 0px;
  width: 16px;
  height: 16px;
  background-image: url('/icons/fail-icon.svg');
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.custom-checkbox {
  position: absolute;
  top: 0;
  left: -40px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #224722;
  outline: none;
}

.custom-checkbox-error {
  position: absolute;
  top: 0;
  left: -40px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f00;
  outline: none;
}

input[type='checkbox']:focus + label .custom-checkbox {
  outline: 3px solid #527252;
}
input[type='checkbox']:checked + label .custom-checkbox {
  position: absolute;
  background-image: url(/icons/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #224722;
}
input[type='checkbox']:checked:focus + label .custom-checkbox {
  outline: 3px solid #527252;
}

/*Buttons styles*/

.order-link::after {
  content: '';
  width: 45px;
  height: 45px;
  @apply bg-buttonIcon;
  border-radius: 36px;
}

.order-link:active::after {
  @apply bg-button;
}

.order-link-disabled::after {
  content: '';
  width: 45px;
  height: 45px;
  @apply bg-secondDisabledBtn;
  border-radius: 36px;
}

@layer components {
  .custom-button {
    @apply font-geologica text-subtitleMd w-full flex text-bgMain items-center justify-between sm:w-[440px] md:w-[231px] py-[5px] pr-[5px] pl-[30px] relative;
  }
}

/*Buttons styles end*/

.backdrop-filter {
  backdrop-filter: blur(12.5px);
}

/*advantages*/

@media screen and (max-width: 767px) {
  .advantages-card:nth-child(2)::before {
    content: '';
    width: 320px;
    height: 0.5px;
    @apply bg-border absolute top-[-35px];
  }

  .advantages-card:nth-child(2)::after {
    content: '';
    width: 320px;
    height: 0.5px;
    @apply bg-border absolute bottom-[-35px];
  }
}

@media screen and (min-width: 768px) {
  .advantages-card:nth-child(2)::before {
    content: '';
    width: 0.5px;
    height: 235px;
    @apply bg-border absolute left-[-41px];
  }

  .advantages-card:nth-child(2)::after {
    content: '';
    width: 0.5px;
    height: 235px;
    @apply bg-border absolute right-[-41px];
  }
}

@media screen and (min-width: 1400px) {
  .advantages-card:nth-child(2)::before {
    @apply bg-border absolute left-[-62px];
  }

  .advantages-card:nth-child(2)::after {
    @apply bg-border absolute right-[-62px];
  }
}

/*advantages end*/

/*-----Hero styles start-------*/
.hero {
  background-image: url('../../public/images/hero/heroBG-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  background-size:
    480px 184px,
    cover;
  @apply bg-bgSecond;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-mobile@2.jpg');
  }
}
@media (min-width: 480px) {
  .hero {
    background-position: center top 0px;
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-tablet.jpg');
    background-size:
      1046px 536px,
      cover;
    background-position: top 0px right 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../../public/images/hero/heroBG-tablet@2.jpg');
    }
  }
}

@media (min-width: 1046px) {
  .hero {
    background-position: center top 0px;
  }
}

@media (min-width: 1400px) {
  .hero {
    background-image: url('../../public/images/hero/heroBG-desktop.jpg');
    background-size:
      1440px 800px,
      cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../../public/images/hero/heroBG-desktop@2.jpg');
    }
  }
}

/*-----Hero styles end-------*/
